.purchase-page h1 {
  margin-bottom: 48px;
}

.order-table-header {
  background-color: #f8c8b9;
}

.tags {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.tags .tags-chip {
  background-color: #9cb737;
  color: white;
}

.total-price {
  text-align: end;
  margin: 20px;
}

.total-price .total-price-chip {
  width: 180px;
  height: 45px;
  border-radius: 10px;
  background-color: #f8c8b9;
}

.payment-details h3 {
  margin-bottom: 30px;
}

.card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.card-info .sensitive-fields {
  display: flex;
  gap: 30px;
}

.payment-btn.MuiButton-root {
  margin-top: 30px;
  background-color: #9cb737;
  border-radius: 15px;
}
